/**Footer**/
.footer {
    font-family: "Roboto", sans-serif, arial !important;
    font-size: 16px;
    line-height: 1.7;
    display: flex;
    color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: solid 1px #a0a0a0;
    margin: 10px 0px;
    background-color:rgba(231, 224, 199, 0.5);
    margin-bottom: -50px;
}
.footer-info {
    align-items: center;
}
.content-footer {
    list-style-type: none;
}
.title-content {
    color: black;
    font-weight: 700;
} 

.content-footer li {
    margin-bottom: 10px;
}



